body {
    background-color:grey;
}

h1{
    text-align: center;
    color: blue;
    text-transform:uppercase;
}

/*p{
    color: green;
} */

#p1 {
    color: green;
}

#p2 {
    color: aqua;

}

#p3 {
    color: yellow;
}

.transUpper {
    text-transform: uppercase;
}
/*
Se crea clase para transformar texto en mayuscula
*/
body {
    background: linear-gradient(to bottom, #FFDA00 33.3%, #003893 33.3%, #003893 66.6%, #D52B1E 66.6%);
    background-size: 100% 200%;
}
/*
.colombia-bandera {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .amarillo {
    flex: 1;
    background-color: #FFDA00;
  }
  
  .azul {
    flex: 1;
    background-color: #003893;
  }
  
  .rojo {
    flex: 1;
    background-color: #D52B1E;
  }
*/
  body {
    background-image: url('/public/images/image.png'); /* Reemplaza 'ruta/a/tu/imagen.jpg' con la ruta de tu imagen */
    background-size: cover; /* Esta propiedad ajustará la imagen al tamaño de la ventana del navegador */
    background-repeat: no-repeat; /* Esto evitará que la imagen de fondo se repita */
}